html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}
.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(167deg, rgba(0,0,0,1) 0%, rgba(162,162,162,1) 80%);
}
.page-header{
    margin-top: 5rem;
    font-size: 1.25rem;
    color:#fff
}
.feature{
    color:#fff;

}
.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}
.feature ul li{
    padding-left: 2rem;
    background-image: url(../img/arrow-up-right-circle-fill.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.icon{
    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.gallery{
    background-color: whitesmoke;

}
.gallery img{
    border-radius: 5%;
}
.services{
    color: white;
    font-size: x-large;
}
.services img{
    width: 500px;
    height: 400px;
    border-radius: 5%;
}
.contact img{
    border-radius: 5%;
    width: 500px;
    height: 400px;
}
footer{
    color:white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}
